  .event-frag{

    margin-top: 30px;
    margin-bottom: 30px;

    .frag-section{
      padding: 20px;
    }
    md-divider{
      color:lightgray;
    }

    md-list{
      max-height: 300px;
      overflow: auto;
      margin-right: 20px
    }

    .md-list-item-text{
      padding-left: 20px;
    }
  }
