<section ng-controller="EventCtrl" data-ng-init="initEvent()">
<md-whiteframe class="md-whiteframe-z3 event-frag" layout layout-align="" >
  <div flex layout="column">
    <div class="frag-section">
      <div ng-include="'app/event/views/event-fragment.html'"></div>
    </div>

    <md-divider></md-divider>

    <div class="frag-section">
      <div ng-include="'app/event/views/participants-fragment.html'"></div>
    </div>

    <md-divider></md-divider>

    <div class="frag-section">
      <div ng-include="'app/event/views/messages-fragment.html'"></div>
    </div>
  </div>
</md-whiteframe>
</section>
