<div flex layout='row'>
  <div flex>
    <!-- TODO: Find better solution - hardcoded group.event state -->
    <a ui-sref="group.event({eventId:event._id})" >
      <h2> {{event.name}} </h2>
    </a>
    <h4> {{event.date | amDateFormat:'dddd hh:mm, MMMM Do'}} </h4>
  </div>
  <div class='stats' flex layout='row' layout-align='center center'>
    <span><ng-md-icon flex icon="directions_walk" class='stats-icon'></ng-md-icon> {{event.stats.participants}}</span>
    <span><ng-md-icon flex icon="comment" class='stats-icon'></ng-md-icon> {{event.stats.messages}}</span>
  </div>
  <div class="animate">
    <a href="https://www.google.si/maps/search/Ljubljana, Rakuseva 24">
      <img src='https://maps.googleapis.com/maps/api/staticmap?center=Ljubljana, Rakuseva 24&zoom=13&size=90x90' />
    </a>

  </div>
</div>
