@color-bg-submit: #00a2ff;
@color-main: #666a73;
@color-line: #ececec;

.landing {
  color: @color-main;
  text-align: center;

  .section {
    padding: 65px 20px;
    border-bottom: 2px solid @color-line;
  }

  .sub-section {
    width: 100%;
    max-width: 1000px;
    padding: 65px 20px;

    p{
      max-width: 600px;
      font-size: 18px;
      padding-top: 10px;
    }
  }

  .hero {
    p{
      max-width: 600px;
      font-size: 18px;
      padding: 20px;
    }

    a.btn-create{
      color: #fff;
      background-color: @color-bg-submit;
      font-size: 20px;

      margin-top: 40px;
      padding: 10px 75px;

      &:hover{
        background-color: lighten(@color-bg-submit, 10%);
      }
    }
  }

  .footer{
    padding: 10px 20px;
    background-color: @color-main;
    color: #FFF;
  }
}
